name: Rust

on:
  push:
    branches: [ "main" , "ci_test"]
  pull_request:
    branches: [ "main", "ci_test" ]

env:
  CARGO_TERM_COLOR: always
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Install Musl toolchain
          uses: actions-rs/toolchain@v1
          with:
              toolchain: stable
              target: x86_64-unknown-linux-musl
              override: true
              components: rustfmt, clippy
        - name: Build
          uses: actions-rs/cargo@v1
          with:
            command: build
            args: --release --target x86_64-unknown-linux-musl
        - name: Move the executable
          run: mv target/x86_64-unknown-linux-musl/release/mode_rotation ./
        - name: Upload
          uses: actions/upload-artifact@v3
          with:
            name: mode_rotation.zip
            path: |
              mode_rotation
              all_maps.json
  build_wimby:
      runs-on: windows-latest
      steps:
        - uses: actions/checkout@v2
        - name: Install toolchain
          uses: actions-rs/toolchain@v1
          with:
              toolchain: stable
              target: x86_64-pc-windows-gnu
              override: true
              components: rustfmt, clippy
        - name: Build
          uses: actions-rs/cargo@v1
          with:
            command: build
            args: --release
        - name: Move the exe
          run: mv target/release/mode_rotation.exe ./
        - name: Upload
          uses: actions/upload-artifact@v3
          with:
            name: mode_rotation_wimby.zip
            path: |
              mode_rotation.exe
              all_maps.json
      
      # - name: Build Windows
      #   run: cargo build --target x86_64-pc-windows-gnu --verbose
      # - name: Run tests
      #   run: cargo test --verbose
